/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * symbiose implementation : © <Mathieu Chatrain> <mathieu.chatrain@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * symbiose.css
 *
 * symbiose stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (symbiose_symbiose.tpl), and to HTML elements you create dynamically
    (in symbiose.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/

/*BASE*/

body {
    background-image: url('img/symbiose-background.jpg');
    background-repeat: repeat;
    background-size: 895px 597px;
    
  }



 #board {
    position: relative;
    width: 100%;
    
 }

 .board2 {
    height: 1045px;
 }

 .board2_1 {
    height: 1175px;
 }

 .board3 {
    height: 1000px;
 }

 .board4 {
    height: 1345px;
 }

 .scorepad{
    height: 116px;
    width: 224px;
    position: absolute;
    background-image: url('img/scorepad.png');
    background-size: 100% 100%;
    
           
}


.card_position {
    height: 225px;
    width: 150px;
    position: absolute;
    
    
}

.card_position_mini {
    height: 150px;
    width: 100px;
    position: absolute;
    
}


.river {
   position: absolute;
    height: 245px;
    width: 650px;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
    

    background-color: hsl(201deg 100% 81% / 40%);
    border: 2px solid #024573;
    border-radius: 12px;

    

}

.river2 {
    position: absolute;
    height: 245px;
    width: 650px;
     top: 470px;
     left: 50%;
     transform: translateX(-50%);
     

     background-color: hsl(201deg 100% 81% / 40%);
    border: 2px solid #024573;
    border-radius: 12px;
     
 
 }

 .river2_2 {
    position: absolute;
     height: 245px;
     width: 650px;
     top: 380px;
     left: 50%;
     transform: translateX(-50%);
    

     background-color: hsl(201deg 100% 81% / 40%);
    border: 2px solid #024573;
    border-radius: 12px;
     
 
 }

 .river2_3 {
    position: absolute;
     height: 330px;
     width: 450px;
     top: 112px;
     
    
    
     left: 50%;
     transform: translateX(30%) rotate(90deg);

     background-color: hsl(201deg 100% 81% / 40%);
    border: 2px solid #024573;
    border-radius: 12px;
     
 
 }

 .river2_4 {
    position: absolute;
     height: 330px;
     width: 450px;
     top: 112px;
     
    
   
     left: 50%;
     transform: translateX(-129%) rotate(-90deg);

     background-color: hsl(201deg 100% 81% / 40%);
    border: 2px solid #024573;
    border-radius: 12px;
     
 
 }

.player_cards {
    position: absolute;
    height: 480px;
    width: 630px;
    
    

}

.player_cards_mini {
    position: absolute;
    height: 310px;
    width: 430px;
    

}

.nameplayer{
    position: absolute;
    /*background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;*/
    width: 630px;
    display: flex;
    justify-content: center;

    border: none;
    background-color: hsla(0, 0%, 100%, .3);
    border-radius: 20px 20px 0 0;
    padding: 4px 0 0px;
    padding-top: 3px;
    
    
}

.nameplayer_mini_1_3{
    position: absolute;
    /*background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;*/
    width: 310px;
    display: flex;
    justify-content: center;
    top: 15px;
    left: 50%;
    transform: translateX(-209%);

    border: none;
    background-color: hsla(0, 0%, 100%, .3);
    border-radius: 20px 20px 0 0;
    padding: 4px 0 0px;
    padding-top: 3px;
    
    
}


.nameplayer_mini_3_3{
    position: absolute;
    /*background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;*/
    width: 310px;
    display: flex;
    justify-content: center;
    top: 15px;
    left: 50%;
    transform: translateX(109%);

    border: none;
    background-color: hsla(0, 0%, 100%, .3);
    border-radius: 20px 20px 0 0;
    padding: 4px 0 0px;
    padding-top: 3px;
    
    
}

.nameplayer_mini_1_4{
    position: absolute;
    /*background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;*/
    width: 310px;
    display: flex;
    justify-content: center;
    top: 345px;
    left: 50%;
    transform: translateX(-209%);

    border: none;
    background-color: hsla(0, 0%, 100%, .3);
    border-radius: 20px 20px 0 0;
    padding: 4px 0 0px;
    padding-top: 3px;
    
    
}

.nameplayer_mini_2_2{
    position: absolute;
    /*background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;*/
    width: 430px;
    display: flex;
    justify-content: center;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);

    border: none;
    background-color: hsla(0, 0%, 100%, .3);
    border-radius: 20px 20px 0 0;
    padding: 4px 0 0px;
    padding-top: 3px;
    
    
    
}

.nameplayer_mini_2_2_duel{
    position: absolute;
    /*background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;*/
    width: 310px;
    display: flex;
    justify-content: center;
    top: 25px;
    left: 50%;
    transform: translateX(-160%);

    border: none;
    background-color: hsla(0, 0%, 100%, .3);
    border-radius: 20px 20px 0 0;
    padding: 4px 0 0px;
    padding-top: 3px;
    
    
    
    
}

.nameplayer_mini_2_2_duel_2{
    position: absolute;
    /*background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;*/
    width: 310px;
    display: flex;
    justify-content: center;
    top: 25px;
    left: 50%;
    transform: translateX(61%);

    border: none;
    background-color: hsla(0, 0%, 100%, .3);
    border-radius: 20px 20px 0 0;
    padding: 4px 0 0px;
    padding-top: 3px;
    
    
    
    
}

.nameplayer_river_1{
    position: absolute;
    /*background-color: hsl(201deg 100% 81% / 40%);
    border-radius: 10px;*/
    width: 325px;
    display: flex;
    justify-content: center;
    top: 25px;
    left: 50%;
    transform: translateX(62%);

    border: none;
    background-color: hsla(0, 0%, 100%, .3);
    border-radius: 20px 20px 0 0;
    padding: 4px 0 0px;
    padding-top: 3px;
    
    
    
    
}

.nameplayer_river_2{
    position: absolute;
    /*background-color: hsl(201deg 100% 81% / 40%);
    border-radius: 10px;*/
    width: 325px;
    display: flex;
    justify-content: center;
    top: 25px;
    left: 50%;
    transform: translateX(-160%);

    border: none;
    background-color: hsla(0, 0%, 100%, .3);
    border-radius: 20px 20px 0 0;
    padding: 4px 0 0px;
    padding-top: 3px;
    
    
    
    
}



.nameplayer_mini_2_4{
    position: absolute;
    /*background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;*/
    width: 430px;
    display: flex;
    justify-content: center;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);

    border: none;
    background-color: hsla(0, 0%, 100%, .3);
    border-radius: 20px 20px 0 0;
    padding: 4px 0 0px;
    padding-top: 3px;
    
    
    
}

.nameplayer_mini_3_4{
    position: absolute;
    /*background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;*/
    width: 310px;
    display: flex;
    justify-content: center;
    top: 345px;
    left: 50%;
    transform: translateX(108%);

    border: none;
    background-color: hsla(0, 0%, 100%, .3);
    border-radius: 20px 20px 0 0;
    padding: 4px 0 0px;
    padding-top: 3px;
    
    
}

/* CARD */


.card{
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url('img/cards.jpg');
    background-size: 600% 600%;
    border-radius: 8px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));
    z-index: 1;
    box-sizing: border-box;
    
    
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
       
}

.cardback{
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url('img/back.jpg');
    background-size: 100% 100%;
    border-radius: 8px;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,.5));
    z-index: 2;
    box-sizing: border-box;

    

    transition: transform 1s ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

/* FLIP */

.cardback.flip {
    transform: rotateY(180deg);
}

.card.flip {
    transform: rotateY(0deg);
}

.rotate {
    transform: rotateY(180deg);
}

/* SCALE HOVER */

.scalable {
    transition: transform 0.3s ease-in-out, z-index 0s 0.3s;
}

.card.scalable:hover { 
    transform: scale(1.3);
    z-index: 11 !important;
    transition: transform 0.3s ease-in-out; 
}

/* SELECTABLE */

.selectable {
    cursor: pointer;
    /*border: 3px solid red;*/
    box-shadow: rgba(0, 0, 0,0.4) 0px 0px 0px 1px, rgb(66 255 0) 0px 0px 0px 3px
}

.selected {
    border: 3px solid blue;
}


/* POSITIONS */

.position_0_2{
    top: 515px;
    left: 50%;
    transform: translateX(-50%);
}

.position_0_2_1{
    top: 650px;
    left: 50%;
    transform: translateX(-50%);
}

.position_0_3{
    top: 480px;
    left: 50%;
    transform: translateX(-50%);
}

.position_0_4{
    top: 820px;
    left: 50%;
    transform: translateX(-50%);
}

.position_1_3{
    top: 100px;
    /*left: 93px;*/
    left: 50%;
    transform: translateX(-165%) rotate(90deg);
    /*transform: rotate(90deg);*/
}

.position_1_4{
    top: 435px;
    /*left: 93px;
    transform: rotate(90deg);*/
    left: 50%;
    transform: translateX(-165%) rotate(90deg);
}

.position_2_2{
    top: 55px;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
}

.position_2_2_duel{
    top: 115px;
    left: 50%;
     transform: translateX(-129%) rotate(90deg);
    
}

.position_2_2_duel_2{
    top: 115px;
    left: 50%;
     transform: translateX(30%) rotate(-90deg);
    
}


.position_2_4{
    top: 55px;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
}

.position_3_3{
    top: 100px;
    /*right: 93px;*/
    /*transform: rotate(-90deg);*/
    left: 50%;
    transform: translateX(65%) rotate(-90deg);
}

.position_3_4{
    top: 435px;
    /*right: 93px;*/
    left: 50%;
    transform: translateX(65%) rotate(-90deg);
}




.team_a {
    font-weight: bold;
    display: flex; 
    justify-content: flex-start; 
    margin-left: 10px;
    align-items: center;
    font-style: italic;
    font-size: 20px;
}

.team_b {
    font-weight: bold;
    display: flex; 
    justify-content: flex-end; 
    margin-right: 10px;
    align-items: center;
    font-style: italic;
    font-size: 20px;
}




