/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * symbiose implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * symbiose.css
 *
 * symbiose stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (symbiose_symbiose.tpl), and to HTML elements you create dynamically
    (in symbiose.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/

/*BASE*/

 #board {
    position: relative;
    width: 100%;
    height: 1000px;
 }

 .scorepad{
    height: 116px;
    width: 224px;
    position: absolute;
    background-image: url('img/scorepad.png');
    background-size: 100% 100%;
    
           
}


.card_position {
    height: 225px;
    width: 150px;
    position: absolute;
    
    
}

.card_position_mini {
    height: 150px;
    width: 100px;
    position: absolute;
    
}


.river {
   position: absolute;
    height: 225px;
    width: 630px;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    

}

.player_cards {
    position: absolute;
    height: 480px;
    width: 630px;
    
    

}

.player_cards_mini {
    position: absolute;
    height: 310px;
    width: 430px;
    

}

.nameplayer{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    width: 630px;
    display: flex;
    justify-content: center;
    
    
}

.nameplayer_mini_1{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    width: 310px;
    display: flex;
    justify-content: center;
    top: 60px;
    left: 150px;
    
    
}

.nameplayer_mini_3{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    width: 310px;
    display: flex;
    justify-content: center;
    top: 60px;
    right: 150px;
    
    
}

/* CARD */


.card{
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url('img/cards.jpg');
    background-size: 600% 600%;
    border-radius: 8px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));
    z-index: 1;
    box-sizing: border-box;
    
    
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
       
}

.cardback{
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url('img/back.jpg');
    background-size: 100% 100%;
    border-radius: 8px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.9));
    z-index: 2;
    box-sizing: border-box;

    

    transition: transform 1s ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

/* FLIP */

.cardback.flip {
    transform: rotateY(180deg);
}

.card.flip {
    transform: rotateY(0deg);
}

.rotate {
    transform: rotateY(180deg);
}

/* SCALE HOVER */

.scalable {
    transition: transform 0.3s ease-in-out, z-index 0s 0.3s;
}

.card.scalable:hover { 
    transform: scale(1.3);
    z-index: 10;
    transition: transform 0.3s ease-in-out; 
}

/* SELECTABLE */

.selectable {
    cursor: pointer;
    border: 3px solid red;
}

.selected {
    border: 3px solid blue;
}


/* POSITIONS */


.position_0{
    top: 270px;
    left: 50%;
    transform: translateX(-50%);
}

.position_1{
    top: 150px;
    left: 93px;
    transform: rotate(90deg);
}

.position_2{
    transform: rotate(180deg);
}


.position_3{
    top: 150px;
    right: 93px;
    transform: rotate(-90deg);
}






@media (min-width: 1680px) and (max-width: 1840px) {
    .position_1{
        
        left: 15px;
        
    }

    .position_3{
        
        right: 15px;
        
    }

    .nameplayer_mini_1{
        
        left: 73px;
    
        
    }
    
    .nameplayer_mini_3{
        
        right: 73px;
    
        
    }
    
  }

  @media (min-width: 1295px) and (max-width: 1680px) {

    .position_0{
        
        top: 730px;
        
        
    }
    .position_1{
        
        top: 350px;
        left: 55px;
        
    }

    .position_3{
        
        top: 350px;
        right: 55px;
        
    }

    .nameplayer_mini_1{
        
        top: 260px;
        left: 112px;
    
        
    }
    
    .nameplayer_mini_3{
        
        top: 260px;
        right: 112px;
    
        
    }

    
    
  }

  @media (max-width: 1295px) {

    .position_0{
        
        top: 730px;
        
        
    }
    .position_1{
        
        top: 350px;
        left: 10px;
        
        
    }

    .position_3{
        
        top: 350px;
        right: 10px;
        
        
    }

    .nameplayer_mini_1{
        
        top: 260px;
        left: 67px;
        
    
        
    }
    
    .nameplayer_mini_3{
        
        top: 260px;
        right: 67px;
        
    
        
    }

}

